<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geolineo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="p-5 my-4 bg-warning rounded-3">
        <h1>Geolineo</h1>
        <p class="lead">Service to layout ...</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Maps from Test Cases</h2>
            <p>
                <ul>
                    {% for tc in list_test_cases %}
                    <li> <a href="{{tc.0}}">{{tc.1.tci.name}} ({{tc.1.id}})</a></li>
                    {% endfor %}
                </ul>
            </p>
        </div>
        <div class="col-md-6">
            <h2>Lala</h2>
            <p>lili</p>
            <p><a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>